.bold-text{
    font-weight: 700;
    font-size: 100px;
}

.navbar{
    background-color: #9390FF;
}

.openMenu{
    color: white;
    border: 2px solid white;
    padding: 10px;
    border-radius: 4px;
    overflow: hidden;
}
